{% extends "base.html" %}

{% block title %}图书列表{% endblock %}

{% block content %}
<div class="books-list">
    <h1>图书列表</h1>
    <table class="book-table">
        <thead>
            <tr>
                <th>书名</th>
                <th>ISBN</th>
                <th>出版社</th>
                <th>分类</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.publisher_name }}</td>
                <td>{{ book.category_name }}</td>
                <td>
                    {% if book.is_borrowed %}
                        <span class="status-borrowed">已借出</span>
                    {% else %}
                        <a href="{{ url_for('book.get_book', book_id=book.id) }}" class="btn">借阅</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 